@media (min-width: 670px) and (max-width: 1023px){
  body{
    background-image: url(../../asset/img/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .large{
    content: url(../../asset/img/kitten-small.png);
    margin-top: 300px;
    margin-left: 250px;

   
  }
}

@media (max-width: 669px){
  body{
    background-image: url(../../asset/img/dawn.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .large{
     content: url(../../asset/img/kitten-large.png);
     margin-top: 300px;
     margin-left: 100px;
    
   
  }
}

